<p>
  <strong>First Name:</strong>
  <%= @author.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @author.last_name %>
</p>
<p>
  <strong>Remarks:</strong>
  <%= @author.remarks %>
</p>
<p>
  <strong>Birthday:</strong>
  <%= @author.birthday %>
</p>

<%= image_tag @author.avatar.url(:medium) %>
<%= image_tag @author.avatar.url(:thumb) %>
<%= image_tag @author.avatar.url(:original) %>

<%= link_to 'Show articles', author_articles_path(@author) %> |
<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', author_path %>
